# The Letters of Libanius

In [1]:
#Import libraries and read CSVs

import pandas as pd
import sqlite3

letter_table = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/Papadimitriou-Mikael-mikepnyu/Libanius/Tables/CSV/Letter_Table.csv")
recipient_table = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/Papadimitriou-Mikael-mikepnyu/Libanius/Tables/CSV/Recipient_Table.csv")
carrier_table = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/Papadimitriou-Mikael-mikepnyu/Libanius/Tables/CSV/Carrier_Table.csv")
translation_table = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/Papadimitriou-Mikael-mikepnyu/Libanius/Tables/CSV/Translation_Table.csv")
type_table = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/Papadimitriou-Mikael-mikepnyu/Libanius/Tables/CSV/Type_Table.csv")
destination_table = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/Papadimitriou-Mikael-mikepnyu/Libanius/Tables/CSV/Destination_Table.csv")
mapping_table = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/Papadimitriou-Mikael-mikepnyu/Libanius/Tables/CSV/Mapping_Table(Letter+Type).csv")

In [2]:
#Test the dataframes before going into sql

print("letter_table")
print(letter_table.head(2))
print("\nrecipient_table")
print(recipient_table.head(2))
print("\ncarrier_table")
print(carrier_table.head(2))
print("\ntranslation_table")
print(translation_table.head(2))
print("\ntype_table")
print(type_table.head(2))
print("\ndestination_table")
print(destination_table.head(2))
print("\nmapping_table")
print(mapping_table.head(2))

letter_table
   Letter_ID  Date_Min  Date_Max  Destination_ID  Recipient_ID  Carrier_ID
0        399       355       355  Constantinople             1           0
1        560       357       357  Constantinople             1           1

recipient_table
   Recipient_ID Recipient_Name       PLRE_ID BLZG_ID
0             1     Andronicus  Andronicus 3     NaN
1             2       Hypatius    Hypatius 1     NaN

carrier_table
   Carrier_ID Carrier_Name PLRE_ID BLZG_ID
0           0         None     NaN     NaN
1           1    Majorinus     NaN     NaN

translation_table
   Letter_ID  Norman_1992  Cabouret_2000 Bradbury_2004  Cribiore_2007
0        399          NaN            NaN           B86            NaN
1        560          NaN            NaN           B87            NaN

type_table
   Type_ID            Name                                        Description
0        1  Recommendation  A letter that recommends an individual for a p...
1        2          School  A letter that deals with issues related to Lib...

destination_table
   Destination_ID  Pleiades_ID
0  Constantinople       520998
1       Phoenicia       678334

mapping_table
   Letter_ID  Type_ID
0        399        3
1        560        1

In [3]:
#Load the database connection into memory

conn = sqlite3.connect(':memory:')

#Load the dataframes into sql

letter_table.to_sql('letter_table',conn,if_exists="replace")
recipient_table.to_sql('recipient_table', conn, if_exists="replace")
carrier_table.to_sql('carrier_table', conn, if_exists="replace")
translation_table.to_sql('translation_table', conn, if_exists="replace")
type_table.to_sql('type_table', conn, if_exists="replace")
destination_table.to_sql('destination_table', conn, if_exists="replace")
mapping_table.to_sql('mapping_table', conn, if_exists="replace")

# Interesting queries

The following cells attempt to interact with the data in meaningful ways 
to show the potential of the database.

In [4]:
#Display all the basic information about the letters

pd.read_sql("""
SELECT letter_table.Letter_ID, letter_table.Date_Min, letter_table.Date_Max, letter_table.Destination_ID, recipient_table.Recipient_Name, 
    recipient_table.PLRE_ID, carrier_table.Carrier_Name, carrier_table.PLRE_ID, carrier_table.BLZG_ID
FROM letter_table
    LEFT OUTER JOIN recipient_table
        ON letter_table.Recipient_ID = recipient_table.Recipient_ID
    LEFT OUTER JOIN carrier_table
        ON letter_table.Carrier_ID = carrier_table.Carrier_ID
ORDER BY letter_table.Letter_ID
""", conn)

,Letter_ID,Date_Min,Date_Max,Destination_ID,Recipient_Name,PLRE_ID,Carrier_Name,PLRE_ID,BLZG_ID
0,75,359,359,Constantinople,Eumolpius,None,Parthenius,None,None
1,83,359,359,Constantinople,Artabius,None,Sabinus,Sabinus 5,None
2,95,359,359,Euphratensis,Pannychius,None,None,None,None
3,119,357,357,Phoenicia,Gaianus,Gaianus 6,Boethus,None,None
4,142,359,360,Euphratensis,Priscianus,Priscianus 1,None,None,None
5,156,360,360,Phoenicia,Andronicus,Andronicus 3,Auxentius,None,Auxentius v
6,158,360,360,Palestina Prima,Hypatius,Hypatius 1,None,None,None
7,159,360,360,Phoenicia,Andronicus,Andronicus 3,None,None,None
8,166,360,360,Phoenicia,Andronicus,Andronicus 3,None,None,None
9,175,360,360,Phoenicia,Andronicus,Andronicus 3,Bassus,None,Bassus ii
10,215,360,360,Euphratensis,Ammianus,Ammianus 3,Calliopius,Calliopius 2,None
11,298,361,361,Galatia,Acacius,Acacius 8,Themistius,Themistius 2,None
12,315,357,357,Palestine,Clematius,Clematius 2,None,None,None
13,332,357,358,Palestine,Clematius,Clematius 2,None,None,None
14,336,357,357,Phoenicia,Gaianus,Gaianus 6,None,None,None
15,354,357,358,Palestine,Clematius,Clematius 2,None,None,None
16,361,357,358,Egypt,Parnasius,Parnasius 1,None,None,None
17,399,355,355,Constantinople,Andronicus,Andronicus 3,None,None,None
18,458,355,355,Bithynia,Alcimus,None,Eusebius,Eusebius 40,None
19,459,355,355,Bithynia,Aristaenetus,Aristaenetus 1,Eusebius,Eusebius 40,None
20,560,357,357,Constantinople,Andronicus,Andronicus 3,Majorinus,None,None
21,625,361,361,Euphratensis,Priscianus,Priscianus 1,Seleucus,Seleucus 1,None
22,629,361,361,Euphratensis,Priscianus,Priscianus 1,None,None,None
23,632,362,362,Egypt,Gerontius,Gerontius 2,None,None,None
24,651,361,361,Galatia,Acacius,Acacius 8,None,None,None
25,656,361,361,Armenia,Maximus,Maximus 19,None,None,None
26,697,362,362,Cilicia,Seleucus,Seleucus 1,None,None,None
27,715,362,362,Cilicia,Celsus,Celsus 3,None,None,None
28,732,362,362,Galatia,Acacius,Acacius 8,None,None,None
29,735,362,362,Cilicia,Acacius,Acacius 7,None,None,None
30,763,362,362,Arabia,Belaeus,None,None,None,None
31,779,362,362,Galatia,Maximus,Maximus 19,None,None,None
32,791,362,363,Galatia,Maximus,Maximus 19,Domitius Modestus,None,None
33,799,362,363,Phoenicia,Gaianus,Gaianus 6,None,None,None
34,800,362,363,Phoenicia,Gaianus,Gaianus 6,None,None,None
35,838,363,363,None,Alexander,Alexander 5,None,None,None
36,1174,364,364,Cappadocia,Acacius,Acacius 8,None,None,None
37,1222,364,364,Cappadocia,Acacius,Acacius 8,None,None,None
38,1223,364,364,Cappadocia,Philippus,Philippus 3,None,None,None
39,1230,364,364,Alexandria,Castricius,None,Maximus,Maximus 19,None
40,1350,363,363,Galatia,Maximus,Maximus 19,None,None,None
41,1354,363,363,Galatia,Maximus,Maximus 19,None,None,None
42,1357,363,363,Apamea,Marcellinus,None,None,None,None
43,1360,363,363,None,Alexander,Alexander 5,None,None,None
44,1381,363,363,Galatia,Maximus,Maximus 19,Encratius,None,None
45,1392,363,363,Tarsus,Alexander,Alexander 5,None,None,None
46,1411,363,363,Cilicia,Alexander,Alexander 5,None,None,None
47,1422,363,363,Phoenicia,Gaianus,Gaianus 6,Beros,None,None
48,1460,363,363,Phoenicia,Andronicus,Andronicus 3,Marius,Marius 1,None
49,1514,365,365,Cappadocia,Acacius,Acacius 8,None,None,None

In [5]:
#Find all the letters sent to Phoenicia in chronological order

pd.read_sql("""
SELECT letter_table.Letter_ID, letter_table.Date_Min, letter_table.Date_Max, letter_table.Destination_ID, recipient_table.Recipient_Name, 
    recipient_table.PLRE_ID, carrier_table.Carrier_Name, carrier_table.PLRE_ID, carrier_table.BLZG_ID
FROM letter_table
    LEFT OUTER JOIN recipient_table
        ON letter_table.Recipient_ID = recipient_table.Recipient_ID
    LEFT OUTER JOIN carrier_table
        ON letter_table.Carrier_ID = carrier_table.Carrier_ID
WHERE (letter_table.Destination_ID = "Phoenicia")
ORDER BY letter_table.Date_Min
""", conn)

,Letter_ID,Date_Min,Date_Max,Destination_ID,Recipient_Name,PLRE_ID,Carrier_Name,PLRE_ID,BLZG_ID
0,119,357,357,Phoenicia,Gaianus,Gaianus 6,Boethus,None,None
1,336,357,357,Phoenicia,Gaianus,Gaianus 6,None,None,None
2,156,360,360,Phoenicia,Andronicus,Andronicus 3,Auxentius,None,Auxentius v
3,159,360,360,Phoenicia,Andronicus,Andronicus 3,None,None,None
4,166,360,360,Phoenicia,Andronicus,Andronicus 3,None,None,None
5,175,360,360,Phoenicia,Andronicus,Andronicus 3,Bassus,None,Bassus ii
6,799,362,363,Phoenicia,Gaianus,Gaianus 6,None,None,None
7,800,362,363,Phoenicia,Gaianus,Gaianus 6,None,None,None
8,1422,363,363,Phoenicia,Gaianus,Gaianus 6,Beros,None,None
9,1460,363,363,Phoenicia,Andronicus,Andronicus 3,Marius,Marius 1,None

In [6]:
#Where to find a translation of the letters made in or after 360 AD

pd.read_sql("""
SELECT letter_table.Letter_ID, translation_table.Norman_1992, translation_table.Cabouret_2000, Bradbury_2004, translation_table.Cribiore_2007
FROM letter_table 
    INNER JOIN translation_table
        ON letter_table.Letter_ID = translation_table.Letter_ID
WHERE (letter_table.Date_Min >= 360)
ORDER BY letter_table.Letter_ID
""", conn)

    Letter_ID Norman_1992 Cabouret_2000 Bradbury_2004 Cribiore_2007
0         156        None          None           B88          None
1         158        None          None           B89          None
2         159        None          None           B90          None
3         166        None          None           B91          None
4         175        None          None           B92          None
5         215        None          None          B122          None
6         298        None          None           B99          None
7         625        None          None          B124          None
8         629        None          None          B125          None
9         632        None          None          B128          None
10        651        None          None          B100          None
11        656        None          None          B106          None
12        697        None          None          B129          None
13        715        None          None          B126          None
14        732        None          None          B101          None
15        735        None          None          B127          None
16        763        None          None          B130          None
17        779        None          None          B107          None
18        791        None          None          B108          None
19        799        None          None          B133          None
20        800        None          None          B134          None
21        838        None          None           B94          None
22       1174        None          None          B102          None
23       1222        None          None          B103          None
24       1223        None          None          B104          None
25       1230        None          None          B112          None
26       1350        None          None          B109          None
27       1354        None          None          B110          None
28       1357        None          None           B95          None
29       1360        None          None           B96          None
30       1381        None          None          B111          None
31       1392        None          None           B97          None
32       1411        None          None           B98          None
33       1422        None          None          B135          None
34       1460        None          None           B93          None
35       1514        None          None          B105          None

In [7]:
#Display each types associated with each letters
#This is a many to many relationship that uses a mapping table to keep track of everything
#A description of every time in the typology is provided, although not displayed in its entirety. 

pd.read_sql("""
SELECT letter_table.Letter_ID, type_table.Name, type_table.Description
FROM mapping_table
    INNER JOIN letter_table
        ON mapping_table.Letter_ID = letter_table.Letter_ID
    INNER JOIN type_table
        ON type_table.Type_ID = mapping_table.Type_ID
ORDER BY letter_table.Letter_ID
""", conn)

,Letter_ID,Name,Description
0,75,Recommendation,A letter that recommends an individual for a p...
1,83,Favour,A letter whose purpose is to obtain a favour f...
2,95,Introduction/Reference,A letter that introduces an individual to anot...
3,119,Personal,A letter whose purpose is to maintain his rela...
4,142,Personal,A letter whose purpose is to maintain his rela...
5,156,Introduction/Reference,A letter that introduces an individual to anot...
6,156,Favour,A letter whose purpose is to obtain a favour f...
7,158,Personal,A letter whose purpose is to maintain his rela...
8,159,Personal,A letter whose purpose is to maintain his rela...
9,166,Favour,A letter whose purpose is to obtain a favour f...
10,175,Favour,A letter whose purpose is to obtain a favour f...
11,175,Introduction/Reference,A letter that introduces an individual to anot...
12,215,Favour,A letter whose purpose is to obtain a favour f...
13,298,Favour,A letter whose purpose is to obtain a favour f...
14,315,Personal,A letter whose purpose is to maintain his rela...
15,315,Favour,A letter whose purpose is to obtain a favour f...
16,332,Personal,A letter whose purpose is to maintain his rela...
17,336,Favour,A letter whose purpose is to obtain a favour f...
18,354,Personal,A letter whose purpose is to maintain his rela...
19,361,Favour,A letter whose purpose is to obtain a favour f...
20,361,Introduction/Reference,A letter that introduces an individual to anot...
21,399,Personal,A letter whose purpose is to maintain his rela...
22,458,Introduction/Reference,A letter that introduces an individual to anot...
23,459,Introduction/Reference,A letter that introduces an individual to anot...
24,560,Recommendation,A letter that recommends an individual for a p...
25,625,Introduction/Reference,A letter that introduces an individual to anot...
26,625,Personal,A letter whose purpose is to maintain his rela...
27,629,Favour,A letter whose purpose is to obtain a favour f...
28,629,Introduction/Reference,A letter that introduces an individual to anot...
29,632,Personal,A letter whose purpose is to maintain his rela...
...,...,...,...
38,735,School,A letter that deals with issues related to Lib...
39,763,Favour,A letter whose purpose is to obtain a favour f...
40,779,Favour,A letter whose purpose is to obtain a favour f...
41,779,Personal,A letter whose purpose is to maintain his rela...
42,791,Introduction/Reference,A letter that introduces an individual to anot...
43,799,Personal,A letter whose purpose is to maintain his rela...
44,800,Personal,A letter whose purpose is to maintain his rela...
45,800,Favour,A letter whose purpose is to obtain a favour f...
46,838,School,A letter that deals with issues related to Lib...
47,838,Personal,A letter whose purpose is to maintain his rela...
48,1174,Personal,A letter whose purpose is to maintain his rela...
49,1174,School,A letter that deals with issues related to Lib...
50,1222,School,A letter that deals with issues related to Lib...
51,1223,Personal,A letter whose purpose is to maintain his rela...
52,1223,School,A letter that deals with issues related to Lib...
53,1230,Introduction/Reference,A letter that introduces an individual to anot...
54,1350,Personal,A letter whose purpose is to maintain his rela...
55,1350,Recommendation,A letter that recommends an individual for a p...
56,1354,Personal,A letter whose purpose is to maintain his rela...
57,1357,Municipal,A letter that deals with issues related to the...
58,1357,Personal,A letter whose purpose is to maintain his rela...
59,1360,Personal,A letter whose purpose is to maintain his rela...
60,1381,Introduction/Reference,A letter that introduces an individual to anot...
61,1392,Favour,A letter whose purpose is to obtain a favour f...
62,1411,Favour,A letter whose purpose is to obtain a favour f...
63,1422,Recommendation,A letter that recommends an individual for a p...
64,1460,Introduction/Reference,A letter that introduces an individual to anot...
65,1460,Favour,A letter whose purpose is to obtain a favour f...
66,1514,Personal,A letter whose purpose is to maintain his rela...
67,1514,Favour,A letter whose purpose is to obtain a favour f...

In [8]:
#If we want to find only the letters of introduction

pd.read_sql("""
SELECT letter_table.Letter_ID, letter_table.Date_Min, letter_table.Date_Max, letter_table.Destination_ID, 
        recipient_table.Recipient_Name, recipient_table.PLRE_ID, recipient_table.BLZG_ID, 
        carrier_table.Carrier_Name, carrier_table.PLRE_ID, carrier_table.BLZG_ID
FROM letter_table
    LEFT OUTER JOIN recipient_table
        ON letter_table.Recipient_ID = recipient_table.Recipient_ID
    LEFT OUTER JOIN carrier_table
        ON letter_table.Carrier_ID = carrier_table.Carrier_ID
    INNER JOIN mapping_table
        ON letter_table.Letter_ID = mapping_table.Letter_ID
    INNER JOIN type_table
        ON mapping_table.Type_ID = type_table.Type_ID
WHERE (type_table.Name = "Introduction/Reference")
ORDER BY letter_table.Letter_ID
""", conn)

,Letter_ID,Date_Min,Date_Max,Destination_ID,Recipient_Name,PLRE_ID,BLZG_ID,Carrier_Name,PLRE_ID,BLZG_ID
0,95,359,359,Euphratensis,Pannychius,None,None,None,None,None
1,156,360,360,Phoenicia,Andronicus,Andronicus 3,None,Auxentius,None,Auxentius v
2,175,360,360,Phoenicia,Andronicus,Andronicus 3,None,Bassus,None,Bassus ii
3,361,357,358,Egypt,Parnasius,Parnasius 1,None,None,None,None
4,458,355,355,Bithynia,Alcimus,None,None,Eusebius,Eusebius 40,None
5,459,355,355,Bithynia,Aristaenetus,Aristaenetus 1,None,Eusebius,Eusebius 40,None
6,625,361,361,Euphratensis,Priscianus,Priscianus 1,None,Seleucus,Seleucus 1,None
7,629,361,361,Euphratensis,Priscianus,Priscianus 1,None,None,None,None
8,791,362,363,Galatia,Maximus,Maximus 19,None,Domitius Modestus,None,None
9,1230,364,364,Alexandria,Castricius,None,Castricius ii,Maximus,Maximus 19,None
10,1381,363,363,Galatia,Maximus,Maximus 19,None,Encratius,None,None
11,1460,363,363,Phoenicia,Andronicus,Andronicus 3,None,Marius,Marius 1,None